<div>
    <div class="row">
        <mat-card>
            <mat-card-title>
                APP Store
            </mat-card-title>
        </mat-card>
        <nb-card status="success" *ngFor="let app of apps | async" class="app-card">
            <nb-card-header>{{ app.name }}</nb-card-header>
            <nb-card-body>
                <h6>Description : </h6> {{ app.desc.content }}
                <br><br>
                By {{ app.creator }} <small class="created-at">{{ app.createAt }}</small>
            </nb-card-body>
            <nb-card-footer class="app-card-footer">
                <button nbButton shape="round" size="small" status="success" (click)="buy(app.name)">Buy</button>
            </nb-card-footer>
        </nb-card>
    </div>
</div>
