@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-card {
    width: 96%;
    margin-bottom: 2%;
}

nb-card-footer.app-card-footer {
    text-align: right;
    padding:2px;
}

nb-card.app-card {
    width: 30%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 3%;
}

nb-card-footer > button {
    margin-right: 10px;
}
